.xhtml_center {text-align: center; display: block;}
.xhtml_center table {
    display: table;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
table.contents {
    max-width: fit-content;
    margin: auto;
}
body {
    color: rgb(30, 4, 0);
    background-blend-mode: multiply, multiply, soft-light, soft-light, multiply;
    background: fixed radial-gradient(transparent 80%, rgba(222, 187, 122, 0.408)),
                linear-gradient(to right, rgb(222, 212, 158) 0%, 5%, transparent, 95%, rgb(222, 212, 158) 100%),
                url("./VintagePapers/vintage-paper-texture-13\(seamless\)-by-PhotoshopSupply.jpg") repeat-y,
                url("./VintagePapers/vintage-paper-texture-3-by-PhotoshopSupply.jpg") repeat-y,
                rgb(234, 234, 208);
    font-size: 125%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify
}
h1, h2, h3, h4, h5 {
    font-family: 'Cinzel Decorative', Garamond;
    font-size:100%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: 0.5em
}
h1 {
    font-size: 300%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
    text-indent: 0
}
h2 {
    font-size: 150%;
    margin-top: 2em;
    margin-bottom: 1em
}
h3 {
    font-size: 130%;
    margin-top: 1em
}
h4 {
    font-size: 120%
}
h5 {
    font-size: 110%
}
.no-break {
    page-break-before: avoid
}
div.chapter {
    font-family: Italianno, 'Brush Script MT';
    text-align: center;
    font-size: 2rem;
    page-break-before: always;
    margin-top: 4em
}
hr {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em
}
p {
    text-align: left;
    margin: auto;
    text-indent: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    max-width: fit-content;
}
div.chapter p:dir(ltr) {
    text-shadow: 0px 0px 0.02em rgb(71, 0, 0);
    filter:blur(0.0085em) url(#svgThreshold) drop-shadow(0px 0px 1.25em rgba(54, 0, 0, 0.5));
}
div.chapter p:first-of-type:first-letter {
    font-family: 'parchment', Ballet, 'Brush Script MT';
    font-size:500%;
}
div.chapter p.footnote:first-letter {
    font-family: Italianno, 'Brush Script MT';
    font-size: inherit;
}
p.poem {
    text-indent: 0%;
    margin-left: 10%;
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 1em
}
p.noindent {
    text-indent: 0%
}
p.right {
    text-align: right;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em
}
p.center {
    text-align: center;
    text-indent: 0;
    margin-top: 1em;
    margin-bottom: 1em
}
p.footnote {
    font-size: 90%;
    text-indent: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em
}
sup {
    vertical-align: top;
    font-size: 0.6em
}
div.fig {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
img {
    border-radius: 2%;    
}
p.caption {
    font-weight: bold;
    text-align: center
}
div.fig p.caption:first-letter {
    font-family: inherit;
    font-size: inherit;
}
a:link {
    color: blue;
    text-decoration: none
}
a:visited {
    color: blue;
    text-decoration: none
}
a:hover {
    color: red
}
section.pg-boilerplate * {
    font-family: 'Times New Roman', Times, serif;
}
